body{
    /* background-image: url("./background.jpg"); */
    background-color: rgb(34, 36, 56);
}
#main{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: rgb(34, 36, 56);
    color: white;
}
#side-panel{
    text-align: center;
    display:flex;
    flex-direction: column;
    padding: 10px;
    width: 15%;
    justify-content: space-evenly;
    margin-right: 10px;
    background-color: rgb(200, 221, 14);
    height: 100vh;
    opacity: 0.8;
}
#side-panel ul li{
    list-style:none;
}
#side-panel a{
    display: inline-block;
    padding: 5%;
    width:max-content;
    
}