#main{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* background-color: rgb(34, 36, 56); */
    color: white;
    font-family: 'Oxygen', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(34,36,56,1) 55%, rgba(8,89,106,1) 100%);
}
#side-panel{
    text-align: center;
    display:flex;
    flex-direction: column;
    padding: 10px;
    width: 20%;
    justify-content: space-evenly;
    margin-right: 10px;
    background-color: rgb(77, 184, 169);
    height: 100vh;
    opacity: 0.8;
    animation:slideInLeft;
    animation-duration: 1.2s;
}
#side-panel ul li{
    list-style:none;
}
#side-panel a{
    display: inline-block;
    padding: 5%;
    width:max-content;
}
#content{
    margin: 5%;
}
h1{
    font-size: 150%;
    text-align: center;
    animation: fadeIn 2s;
}
#intro{
    margin-top: 8%;
    animation: fadeIn 4s;
}
#instructions{
    margin-top: 8%;
    animation-name: fadeIn;
    animation-duration: 5s;

}
